{% load user_filters %}

{% load thumbnail %}
<div class="card" data-id="{{ recipe.id }}">
  {% thumbnail recipe.image '960x500' crop='center' as im %}
  <a href="{% url 'recipe_view' recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="{{ recipe.name }}"
      class="card__image"></a>
  {% endthumbnail %}
  <div class="card__body">
    <a class="card__title link" href="{% url 'recipe_view' recipe.id %}" target="_blank">{{ recipe.name }}</a>
    <ul class="card__items">
      {% for tag in recipe.tags.all %}
        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.display_name }}</span></li>
      {% endfor %}
    </ul>
    <div class="card__items card__items_column">
      <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
      <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile_view' recipe.author.username %}" style="color: black"> {{ recipe.author.username }}</a></p>
    </div>
  </div>
  <div class="card__footer">
    {% if user.is_authenticated %}
      <button class="button button_style_light-blue" name="purchases" data-out>
        <span class="icon-plus button__icon"></span>Добавить в покупки
      </button>
      {% include './favoriteButton.html' with recipe=recipe big=False %}
    {% endif %}
  </div>
</div>